<!--   <div class="col s12">
    <div class="input-field">
      <input type="text" [(ngModel)]="value" class="validate" [ngClass]="config.className" [class.invalid]="invalid" [placeholder]="config.placeholder ? config.placeholder : '' ">
      <label>{{config.label}}</label>
      <ng-template [ngIf]="invalid" >
          <span class="helper-text" style="color:#F44336" data-error="wrong" data-success="right" *ngFor="let message of failures" >{{message}}</span>
      </ng-template>
    </div>
  </div> -->

  <mat-form-field>

    <input #focusElement matInput [formControl]="innerFormControl" [(ngModel)]="value" [placeholder]="config.placeholder">

    <mat-error *ngIf="innerFormControl.errors" > 
        <span class="helper-text" style="color:#F44336" data-error="wrong" data-success="right" *ngFor="let message of failures" >{{message}}</span>
    </mat-error>
</mat-form-field>
