 
 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
 
 <!-- <div class="col s12">
    <div class="input-field">
      <input type="text" [(ngModel)]="value" class="validate" [ngClass]="config.className" [class.invalid]="invalid" [placeholder]="config.placeholder ? config.placeholder : '' ">
      <label>{{config.label}}</label>
      <ng-template [ngIf]="invalid" >
          <span class="helper-text" style="color:#F44336" data-error="wrong" data-success="right" *ngFor="let message of failures" >{{message}}</span>
      </ng-template>
    </div>
  </div> -->