<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>Formulario de pruebas </h4>
</div>

<form [formGroup]="form">
  
  <nrj-input-text formControlName="{{config[0].name}}" [config]="config[0]"></nrj-input-text>
  <br>
  <nrj-input-text formControlName="{{config[1].name}}" [config]="config[1]"></nrj-input-text>
    
  <button type="submit" (click)="submit(form)" >Enviar</button>
</form>

<p>Form Values: {{form.value | json}}</p>
<p>Form Valid: {{form.valid | json}}</p>
<!-- <p>Form Valid: {{form.controls['nombre'].valid | json}}</p> -->

